a {
    text-decoration: 0;
    color: white;
}

.navbar-custom {
    background-color: rgb(151, 86, 74);
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: aliceblue;
        }